<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Atividades - Login</title>

<link rel="stylesheet" href="/css/styles.css"/>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div th:if="${param.error}" class="alert alert-danger">
			Usuário e senha incorretos
		</div>
		
		<div th:if="${param.logout}" class="alert alert-info">
			Logout realizado com sucesso
		</div>
		<form th:action="@{/login}" th:method="POST" style="margin-top: 20%;">
			<div class="row">
				<div class="form-group col-md-4 offset-md-4">
					<label for="username">Usuário: </label>
					<input type="text" id="username" name="username" placeholder="Informe seu usuário" class="form-control"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="form-group">
						<label for="password">Senha: </label>
						<input type="password" id="password" name="password" placeholder="Informe sua senha" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4 text-center">
					<button type="submit" class="btn btn-primary">Entrar</button>
				</div>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</form>
	</div>
	
	<!-- Bootstrap JavaScript files -->
	<script src="/js/jquery-3.4.0.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>